body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  background: #1a1a1a;
  color: white;
  padding-top: 30px;
  min-height: 100px;
  border-bottom: #e8491d 3px solid;
}
a {
  color: #50b3a2;
  text-decoration: none;
  font-size: 16px;
}
a:visited {
  color: #a3c2c2;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
header ul {
  margin: 0;
  padding: 0;
}
header .title {
  text-align: center;
}
header .title h1 {
  font-size: 26px;
}
main {
  padding: 20px;
}
table {
  width: 80%; /* Reduce the width of the table */
  border-collapse: collapse;
  margin: auto; /* Center the table on the page */
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; /* Center the text in the table */
}

th {
  background-color: #1a1a1a; /* Change the header background color to match the page theme */
  color: white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 10px 0;
}
p {
  font-size: 16px;
  color: #f4f4f4;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  color: #f4f4f4;
  font-size: 14px;
}

footer a {
  color: #50b3a2;
  text-decoration: none;
}

footer a:visited {
  color: #a3c2c2;
}
